doctype html
html
  head
    title Nakul Dance Academy
    block scripts
    block style 
  body
    //- nav#navbar
    //-   ul
    //-       #logo 
    //-           img(src="/static/img/logo.png")
    //-           | NDA
    //-       li #[a(hresf="/") Home]  
    //-       li #[a(hresf="/about") About] 
    //-       li #[a(hresf="#") Services] 
    //-       li #[a(hresf="#") Class Info]  
    //-       li #[a(hresf="/contact") Contact Us]  
    block content
    footer#footer
        | Copyright © 2019 Nakul'sDanceAcademy.com | All rights reserved 
      
