@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

#missionSection{
    height: 305px;
    width: 67%;
    margin: auto;
    /* background-color: #fbd6d6c7; */

}

#missionSection h2{
    font-size: 40px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Yeon Sung' ;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 16px 16px;
    height: 209px;
}

.card h3{
    text-align: center;
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif; 
    
    
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0px 14px;
    margin: 5px 9px;
}

.card-img img{
    height: inherit;
}

.card-content{
    padding: 0px 10px;

}
.card-content p{
     font-size: 19px;
     font-family: 'ZCOOL QingKe HuangYou'; 
}

#sponsorsSection{
    height: 305px;
    background-color: #fbd6d6c7;

}
#sponsorsSection h2{
    font-size: 40px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Yeon Sung' ;
}
#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: auto;
}
.spIamge{
    height: 180px;
    margin: 27px 5px;
}